POSTGRES_DB=footprint
POSTGRES_USER=footprint
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

MINIO_ROOT_USER=footprint
MINIO_ROOT_PASSWORD=change-me-please
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
